<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
 xmlns:context="http://www.springframework.org/schema/context"  
 xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd"> 

  <!-- Se define el Map Request para los Controladores , este permite definir las url en los Controladores por Anotaciones -->
  <bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
  </bean>

  <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <property name="prefix" value="/WEB-INF/jsp/html/" />
    <property name="suffix" value=".jsp" />
  </bean>
  
  <bean name="/buscarCliente" class="pe.edu.upc.dsd.controller.BusquedaClienteController" >
    <property name="service" ref="service" />
  </bean>
  
  <bean name="/buscarProducto" class="pe.edu.upc.dsd.controller.BusquedaProductoController" >
    <property name="service" ref="service" />
  </bean>
  
  <bean name="/buscarDocumentos" class="pe.edu.upc.dsd.controller.BusquedaDocumentosController" >
    <property name="service" ref="service" />
  </bean>
  
</beans>
